{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    {% if did_current_user_win %}
        <div class="alert alert-primary" role="alert">
            Your bid (${{ max_bid }}) won this auction!
        </div>
    {% elif not listing.is_active %}
        <div class="alert alert-primary" role="alert">
            The winning bid is (${{ max_bid }})!
        </div>
    {% endif %}
    </div>
    <h2>
        Listing: {{ listing.title }}
        {% if not listing.is_active %}
            <span class="badge badge-secondary">Closed</span>
        {% endif %}
    </h2>
    <div>
        {% if listing.img_url %}
            <img src="{{ listing.img_url }}" alt="{{ listing.title }}">
        {% else %}
            <img src="{% static 'auctions/images/notfound.png' %}" alt="img not found">
        {% endif %}
    </div>
    <p>{{ listing.description }}</p>
    <p><strong>${{ listing.price }}</strong></p>

    <!-- bidding info -->
    {% if show_bid_form %}
        {% if bid_form_error %}
            <div class="alert alert-danger">{{ bid_form_error }}</div>
        {% endif %}
        <div>
            <small>{{ bids_count }} bids so far. Your Bid is the Current Bid</small>
            <form action="" method="POST">
                {% csrf_token %}
                {{ bid_form.as_p }}
                <input type="submit" value="Place Bid" class="btn btn-primary">
            </form>
        </div>

    <!-- there must actual bids from other users
        so that, owner initial price doesn't show as bid with count 1
    -->
    {% elif show_bids and bids_count %}
        <div>
            Max Bid:
            <strong>${{ max_bid }}</strong>
            {% if can_close_listing %}
                <form action="{% url 'close_listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Accept Bid & Close Listing">
                </form>
            {% endif %}
        </div>
    {% endif %}
    <h3>Details</h3>
    <ul>
        <li>Listed by: 
            <a href="{% url 'user_profile' listing.owner.username %}">
                {{ listing.owner }}
            </a>
        </li>
        <li>Category:
            {% if listing.category %}
                <a href="{% url 'display_category' listing.category.id %}">
                    {{ listing.category }}
                </a>
            {% else %}
                <span>No Category Listed</span>
            {% endif %}
        </li>
    </ul>
{% endblock %}
