<div class="listing-bids">
    {% if can_see_bids_count %}
        <div class="bids-count">
            <span>{{ bids_count }} bid{{ bids_count|pluralize }} so far.</small>
        </div>
    {% endif %}

    {% if can_place_bid %}
        <div class="bids-new">
            <form class="bid-form" method="POST">
                {% csrf_token %}
                {{ bid_form.as_p }}
                <input type="submit" value="Place Bid" class="btn btn-primary">
            </form>
        </div>
    {% elif can_accept_bid %}
        <div class="bids-accept">
            <span>Max Bid: <strong>${{ max_bid }}</strong></span>
            <form action="{% url 'accept_max_bid' listing.id %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Accept"><br>
                <strong>
                    <em>Note: Accepting a bid will close listing and mark that bid as a winner.</em>
                </strong>
            </form>
        </div>
    {% endif %}
</div>
